<h1><%= link_to "Rotten Mangoes", root_path %></h1>
<%= link_to "Submit a movie!", new_movie_path %>

<hr>

<%= form_tag("/movies", method: "get") do %>
  <%= label_tag(:movie_search, "Title:") %>
  <%= text_field_tag(:movie_search) %>

  <div>
    <select name="runtime_in_minutes" id="runtime_in_minutes"><br>
      <option value="short">Under 90 minutes</option>
      <option value="medium">Between 90 and 120 minutes</option>
      <option value="long">Over 120 minutes</option>
    </select>
  </div>

  <%= submit_tag("Search") %>

<% end %>


<hr>

<% @movies.each do |movie| %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <%= image_tag movie.poster.to_s %>
  <p><%=  (movie.review_average) %>/10</p>
<%end%>

<hr>

